@font-face {

	font-family: title;
	src: url(../../fonts/title.ttf);
}

body {

	background: #F8F8F8;
}	

.head {

	padding: 0.5em 0 0.5em 1em;
	font-family: 'Segoe UI', sans-serif;
	font-size: 5vh;
	font-weight: bold;
}

.head #Home {

	position: absolute;
	top: 10px;
	right: 50px;
	width: 50px;
	height: 50px;
	font-family: title;
	font-size: 5vh;
	border: 1px solid black;
	border-radius: 50% 50% 50% 50%; 
	line-height: 10vh;
	text-align: center;
}

.head a:visited {

	color: black;
}

.nav {

	padding: 1em;
	color: white;
	background-color: #16161d;
	border-radius: 10px;
	font-family: 'Segoe UI', sans-serif;
	font-size: 3vh;

}

.nav .container {

	position: absolute;
	right: 50px;
	display: inline-flex;
}

.nav #Account {

	padding-right: 10px;
	background: none;
	border: none;
	color: white;
	padding-top: 1vh;
	font: 'Segoe UI', sans-serif;
	font-weight: bold;
}

.nav #Account:hover {

	cursor: pointer;
}

.nav #Logout {

	background: none;
	border: none;
	color: white;
	font: 'Segoe UI', sans-serif;
	font-weight: bold;
	top: 18.55vh;

}

.nav #Logout:hover {

	cursor: pointer;
}

#grid {

	margin:0 auto;
	height:80vh;
	width: 95vw;
	display: grid;
	grid-template-columns: 4fr 6fr 6fr;
	grid-template-rows: 5fr 3fr;
	align-items: stretch;
	grid-gap: 1em;
	padding: 1em;

}

#grid div {

	background: white;
	border-radius: 10px;
	padding: 7px;
}

.nav {

	display: block;
	margin: 10px;
}

#grid .tabs {

	display: none;
}


#grid .tabs .light_blue {

	background-color: lightblue;
	color: white;
	outline: none;
}

#grid #transactions { 

	grid-area: 1 / 2 / 2 / 4;
	overflow: auto;
	background: #eee;
}

#grid #messages { 

	grid-area: 1 / 1 / 3 / 2; 
	overflow: auto; 
	padding: 1em;
}

#grid #messages .message{

	background:#ddd;
	margin: 0 0 15px 0;
	padding: 0.5em;

}

#grid #messages .message .text{

	font-size: 2.4vh;
	font-family: 'Segoe UI';
	padding-bottom: 100px;

}

#grid #messages hr {

	width: 80%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-color: #ccc;
}

#grid #messages .sender {

	display: block;
	text-align: right;
	padding-bottom: 5px;
	font-size: 2.4vh;
}

#grid #messages .date {

	display: block;
	text-align: right;
	font-style: italic;
	font-size: 2.25vh;
}


#grid #messages .message:nth-child(odd) {

	background: #eee;

}

#grid #other { 

	grid-area: 2 / 2 / 3 / 3; 
	overflow: auto;
}

#grid #other span {

	font-family: 'Segoe UI';
	font-size: 90%;
	letter-spacing: 0.5px;
}

#grid #other input {

	width: 90%;
	border: none;
	font-size: 89%;
	overflow: auto;
}

#grid #other input:focus {

	outline: none;
}

#grid #other hr {

	width: 80%;
	border-top: none;
	border-left: none;
	border-right: none;
}

#grid #other textarea {

	width: 97%;
	height: 12vh;
	border: none;
	resize: none;
	font-family: 'Segoe UI';
	font-size: 1.1vw;
	overflow: auto;
}

#grid #other textarea:focus {

	border: none;
	outline: none;
}

#grid #other #post {

	float: right;
	margin-right: 10px;
	padding: 5px 7px 5px 7px;
	background: #374165;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 2.5vh;
}

#grid #other #post:hover {

	animation: fadecolor 0.3s;
	animation-fill-mode: forwards;
}

#grid #store { 

	grid-area: 2 / 3 / 3 / 4; 
	white-space: nowrap;
}

#grid #store #store_name {

	font-size: 18px;
}

#grid #store img:hover {

	animation: rotate 0.5s;
	animation-fill-mode: forwards;
}

#grid #store .popup {

  position: relative;  
  float: right;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

#grid #store .popup .popuptext a {

	color: white;
	text-decoration: none;
}

#grid #store .popup .popuptext a:visited {

	color: white;
	text-decoration: none;
}


/* The actual popup (appears on top) */
#grid #store .popup .popuptext {

  visibility: hidden;
  width: 130px;
  background-color: #555;
  line-height: 30px;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 10px;
  position: absolute;
  z-index: 1;
  bottom: 140%;
  margin-left: -128px;
}

/* Popup arrow */
#grid #store .popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
#grid #store .popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

#grid #store table {

	width: 100%;
	padding-top: 10px;
}

#grid #store #store_name {

	line-height: 20px;
}

#grid #store .id {

	padding-right: 10px;
}

#grid #store .normal {

	font-weight: normal;
}

#grid #store .name, .lname {

	text-align: left;
}

@keyframes fadecolor {
    from { 

    	background: #374165;
    }

    to   { 

    	background: #6E7691;
    }
}

@keyframes fadegrey {
    from { 

    	color: darkgrey;
    }

    to   { 

    	color: lightgrey;
    }
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@keyframes rotate {

	from {

		transform: rotate(0deg);
	}

	to {

		transform: rotate(-20deg);
	}
}

@media screen and (max-width: 1092px) {

	.head #Home {

		border:none;
	}
}

@media screen and (max-width: 1024px) {

	.head #Home {

		display: none;
	}
}

@media screen and (max-width: 858px) {

	#grid {

		display: block;
	}

	#grid #messages, #transactions, #store, #other {

		display: none;
		width: 90%;
	}

	#grid #messages {

		height: 300px;
	}

	#grid #transactions, #store {

		height: 400px;
	}

	#grid #other {

		margin-top: 10px;
		font-size: 16px;
	}

	#grid #other textarea {

		font-size: 12px;
	}

	#grid .tabs {

		display: grid;
		grid-template-columns: repeat(5, 1fr);
		width: 90%;
		padding-bottom: 10px;
	}

	#grid .tabs button {

		padding: 0.5em;
		border-radius: 5px;
		background: none;
		border: none;
		color: darkgrey;
		font: 'Segoe UI', sans-serif;
		font-weight: bold;
		width: 100%;
	}

	#grid .tabs button:active {

		outline: none;
	}

	#grid .tabs button:hover:not(.light_blue) {

		animation: fadegrey 0.3s;
		animation-fill-mode: forwards;
	}
}